<%- include("header") -%>

    <h2>This is the about page. </h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque suscipit accusantium distinctio fuga quo maxime
        sit
        quis id laudantium voluptatem necessitatibus fugiat, sequi illum perferendis cum veritatis cumque in dicta neque
        unde temporibus aliquam beatae et. Commodi dolorem architecto officia veniam ratione reiciendis recusandae
        cumque,
        quidem temporibus saepe facilis illo.
    </p>

    <%- include("footer") -%>