<%- include("header") -%>

    <h2 align="center">This is the about page. </h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque suscipit accusantium distinctio fuga quo maxime
        sit
        quis id laudantium voluptatem necessitatibus fugiat, sequi illum perferendis cum veritatis cumque in dicta neque.   
    </p>

    <%- include("footer") -%>